# Supabase Configuration
# احرص على إضافة هذه المتغيرات في لوحة تحكم Vercel (Project Settings -> Environment Variables)

VITE_SUPABASE_URL=https://deztxaqiyaigczeywkxr.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRlenR4YXFpeWFpZ2N6ZXl3a3hyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5MjM5NzcsImV4cCI6MjA5NDQ5OTk3N30.EGiIqu_WEEadMOP_lVnGgl3WGBNFr9Cki3m3ARkUXE4
SUPABASE_URL=https://deztxaqiyaigczeywkxr.supabase.co
SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRlenR4YXFpeWFpZ2N6ZXl3a3hyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5MjM5NzcsImV4cCI6MjA5NDQ5OTk3N30.EGiIqu_WEEadMOP_lVnGgl3WGBNFr9Cki3m3ARkUXE4
